@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Smooch+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}
body {
  height: 100vh;
}
header {
  height: 100px;
  width: 100%;
  z-index: 9;
}
.navbar {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}
.navbar-brand {
  font-weight: 900;
  padding: 0 30px;
  font-size: 2rem;
  margin: 20px 0;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
