@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Atkinson";
  src: url(../fonts/AtkinsonHyperlegible-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Poppins, serif;
}
body h2 {
  font-family: none;
}
body button {
  font-size: 1rem;
  padding: 10px 40px;
  background: none;
  color: #fd9c6b;
  cursor: pointer;
  border: 1px solid #fd9c6b;
}
body button:hover {
  content: "";
  background: #fd9c6b;
  color: whitesmoke;
  transition: 0.5s;
}

header {
  height: 100vh;
  position: relative;
  z-index: 123;
}
header .head-nav-container {
  color: whitesmoke;
}
header .head-nav-container .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head-nav-container .navbar .navbar-brand {
  margin: 15px 25px;
  font-weight: 800;
  font-size: 1.7rem;
}

main .slider-position-bg {
  display: flex;
  align-items: center;
  color: whitesmoke;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
main .slider-position-bg .slider-bg-box img {
  transform: scale(1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
main .slider-position-bg .slider_bg {
  width: 70%;
  align-items: center;
  z-index: 52;
}
main .slider-position-bg .slider_bg .container-detail {
  width: 100%;
}
main .slider-position-bg .slider_bg .container-detail .box-detail {
  width: 49%;
  margin: 0 auto;
  display: grid;
}
main .slider-position-bg .slider_bg .container-detail .box-detail h1 {
  width: 350px;
  text-align: left;
  font-size: 2.9rem;
  padding: 15px 0;
}
main .slider-position-bg .slider_bg .container-detail .box-detail p {
  text-align: left;
  padding: 0 0 25px;
}
main .slider-position-bg .slider_bg .container-detail .box-detail div {
  text-align: left;
}
main .slider-position-bg .slider_bg .container-detail .box-detail div button {
  border-radius: 5px;
  cursor: pointer;
}
main .products {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}
main .products .head-container h2 {
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0 20px;
  font-size: 1.9rem;
  font-weight: 900;
  margin: 65px 0 20px;
}
main .products .product-img-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 35px;
  margin: 0 auto;
}
main .products .product-img-container .rows {
  background: #eeeeee;
  color: #000;
}
main .products .product-img-container .rows .box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  padding: 15px 10px;
  position: relative;
}
main .products .product-img-container .rows .box-container a {
  width: 100%;
  color: #000;
}
main .products .product-img-container .rows .box-container a .new {
  background: rgb(255, 253, 253);
  height: 60px;
  width: 60px;
  border-radius: 50px;
  font-size: 0.8rem;
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}
main .products .product-img-container .rows .box-container a .img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
}
main .products .product-img-container .rows .box-container a .img-cont img {
  height: 180px;
  padding: 20px 35px;
}
main .products .product-img-container .rows .box-container a .detail-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .products .product-img-container .rows .box-container a .detail-box div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .products .product-img-container .rows .box-container a .detail-box div span {
  color: #fd9c6b;
}
main .products button {
  margin: 40px 0;
  color: #eeeeee;
  background: #fd9c6b;
  border-radius: 5px;
}
main .products button:hover {
  background: white;
  color: #fd9c6b;
}
main .about-container {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  padding: 0 0 30px;
}
main .about-container .container {
  margin: 25px 0;
  padding: 0 20px;
}
main .about-container .container .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
main .about-container .container .row .img-banner .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 0 0 26px;
}
main .about-container .container .row .img-banner .img-box:before {
  content: "";
  position: absolute;
  background: #160e0b;
  height: 250px;
  width: 250px;
  top: 0;
  left: 0;
}
main .about-container .container .row .img-banner .img-box img {
  width: 100%;
  vertical-align: middle;
  position: relative;
}
main .about-container .container .row .detail-box {
  display: grid;
  align-items: center;
  padding: 0 30px;
}
main .about-container .container .row .detail-box h2 {
  text-align: left;
  font-size: 1.7rem;
}
main .about-container .container .row .detail-box p {
  text-align: left;
  padding: 7px 0 28px;
}
main .about-container .container .row .detail-box button {
  text-align: left;
  width: 35%;
}
main .offer-layout {
  margin: 0 auto;
  padding: 0 10px;
}
main .offer-layout .offer-container {
  margin: 59px auto;
  display: flex;
  align-items: center;
}
main .offer-layout .offer-container img {
  width: 100%;
}
main .offer-layout .offer-container .row {
  padding: 0 10px 0 0;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  grid-template-areas: "a b" "a c";
  position: relative;
}
main .offer-layout .offer-container .row .offer-left-container {
  grid-area: a;
}
main .offer-layout .offer-container .row .offer-left-container .box1-detail {
  position: absolute;
  top: 20px;
  left: 20px;
  display: grid;
}
main .offer-layout .offer-container .row .offer-left-container .box1-detail h4 {
  color: whitesmoke;
  font-size: 3.9rem;
  padding: 0 0 25px 0;
}
main .offer-layout .offer-container .row .offer-left-container .box1-detail button {
  width: 159px;
}
main .offer-layout .offer-container .row .offer-right1-container {
  grid-area: b;
}
main .offer-layout .offer-container .row .offer-right2-container {
  grid-area: c;
}
main .blog {
  max-width: 1200px;
  margin: 0 auto;
}
main .blog .blog-container {
  margin: 60px 0;
}
main .blog .blog-container .head-container {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 45px 0;
}
main .blog .blog-container .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
main .testimoni {
  margin: 100px 0;
}
main .testimoni .test-container .head-test-container {
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 45px 0;
}
main .testimoni .test-container .carousel-slide {
  margin: 0 auto;
  position: relative;
  width: 55%;
  height: 370px;
  overflow: hidden;
  background: #160e0b;
  color: whitesmoke;
  border-radius: 17px;
}
main .testimoni .test-container .carousel-slide .carousel-item {
  padding: 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
}
main .testimoni .test-container .carousel-slide .carousel-item img {
  width: 200px;
  border-radius: 150px;
  border: 7px solid gray;
}
main .testimoni .test-container .carousel-slide .carousel-item .box-detail h6 {
  font-size: 1.3rem;
  color: #fd9c6b;
}
main .testimoni .test-container .carousel-slide .carousel-item .box-detail p {
  width: 90%;
  margin: 0 auto;
}
main .testimoni .test-container .carousel-slide .carousel-item .box-detail i {
  padding: 15px 0;
}
main .testimoni .test-container .carousel-btn-container {
  width: 50%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
main .testimoni .test-container .carousel-btn-container a {
  background: #fd9c6b;
  border: 1px solid none;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .testimoni .test-container .carousel-btn-container a i {
  color: #eeeeee;
}

.section {
  padding: 20px 10px;
  color: whitesmoke;
}
.section .info-layout .layout-contenaire {
  background: #160e0b;
}
.section .info-layout .layout-contenaire .container {
  max-width: 1000px;
  margin: 0 auto;
}
.section .info-layout .layout-contenaire .container .info_row_form_social {
  padding: 45px 0;
  display: grid;
  grid-template-columns: 75% 25%;
  align-items: center;
}
.section .info-layout .layout-contenaire .container .info_row_form_social .form {
  display: flex;
  justify-content: center;
}
.section .info-layout .layout-contenaire .container .info_row_form_social .form input {
  width: 80%;
  text-align: left;
  height: 60px;
  outline: none;
  color: rgb(163, 162, 162);
}
.section .info-layout .layout-contenaire .container .info_row_form_social .form button {
  background: #fd9c6b;
  display: flex;
  align-items: center;
}
.section .info-layout .layout-contenaire .container .info_row_form_social .form button:hover {
  background: none;
}
.section .info-layout .layout-contenaire .container .info_row_form_social .form button:hover i {
  color: #fd9c6b;
}
.section .info-layout .layout-contenaire .container .info_row_form_social .form button i {
  color: whitesmoke;
  font-size: 0.9rem;
}
.section .info-layout .layout-contenaire .container .info_row_form_social .social_media {
  display: flex;
  justify-content: space-around;
}
.section .info-layout .layout-contenaire .container .info_row_form_social .social_media a {
  border: 1px solid whitesmoke;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .info-layout .layout-contenaire .container .info_row_form_social .social_media a i {
  color: whitesmoke;
  font-size: 1.2rem;
}
.section .info-layout .layout-contenaire .container .info_row_main {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 18px;
}
.section .info-layout .layout-contenaire .container .info_row_main h5 {
  font-size: 1.6rem;
  padding: 10px 0;
}
.section .info-layout .layout-contenaire .container .info_row_main .menu {
  width: 50%;
  margin: 0 auto;
}
.section .info-layout .layout-contenaire .container .info_row_main .menu h5 {
  text-align: left;
}
.section .info-layout .layout-contenaire .container .info_row_main .menu li {
  text-align: left;
  line-height: 35px;
}
.section .info-layout .layout-contenaire .container .info_row_main .insta-info .box-container .insta-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 0.9rem;
}
.section .info-layout .layout-contenaire .container .info_row_main .insta-info .box-container .insta-box img {
  margin: 15px;
  height: 80px;
  margin-bottom: 15px;
  width: 80px;
  background: whitesmoke;
}
.section .info-layout .layout-contenaire .container .info_row_main .insta-info .box-container .insta-box p {
  text-align: left;
}
.section .info-layout .layout-contenaire .container .info_row_main .aboutus h5 {
  text-align: left;
}
.section .info-layout .layout-contenaire .container .info_row_main .aboutus p {
  text-align: left;
  width: 200px;
}
.section .info-layout .layout-contenaire .container .info_row_main .contactus {
  width: 250px;
}
.section .info-layout .layout-contenaire .container .info_row_main .contactus li {
  text-align: left;
  font-size: 0.7rem;
}
.section .info-layout .layout-contenaire .container .info_row_main .contactus li i {
  margin: 0 10px;
}
.section .info-layout .cop-container {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(27, 26, 26, 0.671);
}
.section .info-layout .cop-container a {
  color: rgba(27, 26, 26, 0.671);
}/*# sourceMappingURL=index.css.map */