header {
  height: 100vh;
  position: relative;
  z-index: 123;

  .head-nav-container {
    color: whitesmoke;

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar-brand {
        margin: 15px 25px;
        font-weight: 800;
        font-size: 1.7rem;
      }
    }
  }
}
