header {
  height: 100vh;
  background: url(../img/slider-bg.jpg) center/cover;

  .head-nav-container {
    color: whitesmoke;

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar-brand {
        margin: 15px 25px;
        font-weight: 800;
        font-size: 1.7rem;
      }
    }

    .nav-container {
      width: 50%;
      padding: 45px 70px;
      margin: 15px 60px;
      // margin: 0 auto;

      h1 {
        font-size: 2.9rem;
        line-height: 60px;
        margin: 36px 0;
        width: 500px;
      }
      p {
        margin: 0 0 35px;
        font-size: 0.93em;
      }

      button {
        font-size: 1rem;
        padding: 10px 40px;
        background: none;
        color: #fd9c6b;
        cursor: pointer;

        border-radius: 5px;
        border: 1px solid #fd9c6b;

        &:hover {
          content: "";
          background: #fd9c6b;
          color: whitesmoke;
          transition: 0.5s;
        }
      }
    }
  }
}
