main {
  .slider-position-bg {
    display: flex;
    align-items: center;
    color: whitesmoke;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .slider-bg-box {
      img {
        transform: scale(1);
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .slider_bg {
      width: 70%;

      align-items: center;
      z-index: 52;

      .container-detail {
        width: 100%;

        .box-detail {
          width: 49%;
          margin: 0 auto;
          display: grid;

          h1 {
            width: 350px;
            text-align: left;
            font-size: 2.9rem;
            padding: 15px 0;
          }
          p {
            text-align: left;
            padding: 0 0 25px;
          }
          div {
            text-align: left;
            button {
              border-radius: 5px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .products {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;

    .head-container {
      h2 {
        text-transform: uppercase;
        text-align: center;
        padding: 30px 0 20px;
        font-size: 1.9rem;
        font-weight: 900;
        margin: 65px 0 20px;
      }
    }
    .product-img-container {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      gap: 35px;
      margin: 0 auto;

      .rows {
        background: #eeeeee;
        color: #000;

        .box-container {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #000;
          padding: 15px 10px;
          position: relative;

          a {
            width: 100%;
            color: #000;

            .new {
              background: rgb(255, 253, 253);
              height: 60px;
              width: 60px;
              border-radius: 50px;
              font-size: 0.8rem;
              position: absolute;
              top: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: 100;
            }

            .img-cont {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 240px;

              img {
                height: 180px;
                padding: 20px 35px;
              }
            }
            .detail-box {
              display: grid;
              grid-template-columns: 1fr 1fr;
              // display: flex;
              // justify-content: space-between;
              // align-items: center;

              div {
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                span {
                  color: #fd9c6b;
                }
              }
            }
          }
        }
      }
    }
    button {
      margin: 40px 0;
      color: #eeeeee;
      background: #fd9c6b;
      border-radius: 5px;

      &:hover {
        background: white;
        color: #fd9c6b;
      }
    }
  }
  .about-container {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    padding: 0 0 30px;

    .container {
      margin: 25px 0;
      padding: 0 20px;

      .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        .img-banner {
          .img-box {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 26px 0 0 26px;

            &:before {
              content: "";
              position: absolute;
              background: #160e0b;
              height: 250px;
              width: 250px;
              top: 0;
              left: 0;
            }
            img {
              width: 100%;
              vertical-align: middle;
              position: relative;
            }
          }
        }
        .detail-box {
          display: grid;
          align-items: center;
          padding: 0 30px;

          h2 {
            text-align: left;
            font-size: 1.7rem;
          }

          p {
            text-align: left;
            padding: 7px 0 28px;
          }
          button {
            text-align: left;
            width: 35%;
          }
        }
      }
    }
  }
  .offer-layout {
    margin: 0 auto;
    padding: 0 10px;

    .offer-container {
      margin: 59px auto;
      display: flex;
      align-items: center;

      img {
        width: 100%;
      }

      .row {
        padding: 0 10px 0 0;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
        grid-template-areas:
          "a b"
          "a c";
        position: relative;

        .offer-left-container {
          grid-area: a;

          .box1-detail {
            position: absolute;
            top: 20px;
            left: 20px;

            display: grid;

            h4 {
              color: whitesmoke;
              font-size: 3.9rem;
              padding: 0 0 25px 0;
            }

            button {
              width: 159px;
            }
          }
        }
        .offer-right1-container {
          grid-area: b;

          .box2-detail {
            // position: absolute;
            // bottom: 20px;
            // right: 20px;
          }
        }
        .offer-right2-container {
          grid-area: c;
        }
      }
    }
  }
  .blog {
    max-width: 1200px;
    margin: 0 auto;

    .blog-container {
      margin: 60px 0;

      .head-container {
        text-transform: uppercase;
        font-size: 1.5rem;
        padding: 45px 0;
      }
      .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
      }
    }
  }

  .testimoni {
    .test-container {
      .head-test-container {
      }

      .carousel-slide {
        width: 100%;
        overflow: hidden;

        .carousel-item {
          display: flex;
          transition: transform 0.5s ease-in-out;
        }
      }
    }
  }
}
